<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>sales count</th>
      <th>Stripe produit id </th>
      <th>Stripe price id </th>
      <th>PAYMENT </th>
    </tr>
  </thead>

  <tbody>

  <% if @produits.present? %>
    <% @produits.each do |produit| %>
      <tr>
        <td><%= produit.name %></td>
        <td><%= number_to_currency(produit.price/100) %></td>
        <td><%= produit.sales_count %> </td>
        <td><%=  truncate( produit.stripe_product_id, :length => 10)  %> </td>
        <td><%=  truncate( produit.stripe_price_id, :length => 10) %> </td>

        <td>
          <div data-turbo='false'>
            <%= button_to  "buy", checkout_create_path, params: {id: produit.id}, 
                remote: true %>
          </div>
        </td>

        <td><%= link_to 'Show', produit %></td>
        <td><%= link_to 'edit', edit_produit_path(produit) %></td>        
        <td><%= link_to 'Destroy', produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_produit_path %>
<hr>
